.page-header {
  margin: 30px auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .page-header__caption {
    text-align: center;
    font-size: 30px;
    border: 2px solid #7c9493;
    width: 350px;
    height: 50px;
    padding: 10px; }
    @media (min-width: 768px) {
      .page-header__caption {
        font-size: 40px; } }
    @media (min-width: 1280px) {
      .page-header__caption {
        font-size: 50px; } }

.page-section {
  margin: 0 auto; }
  .page-section__cart-wrapper {
    margin: 0 auto;
    max-width: 320px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .page-section__caption {
    font-size: 15px;
    color: #7c9493; }
  .page-section__cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    color: #000000;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
  .page-section__cart-icon {
    width: 15px;
    height: 25px;
    margin-right: 10px; }
  .page-section__cart-name {
    font-size: 15px;
    line-height: 25px;
    vertical-align: middle; }
    @media (min-width: 1280px) {
      .page-section__cart-name {
        font-size: 20px; } }
  .page-section__sort {
    font-size: 14px;
    color: #7c9493;
    margin: 0 auto;
    max-width: 320px;
    position: relative;
    left: 10px;
    top: 40px; }
  .page-section__sort-capt {
    padding-right: 12px; }
  .page-section__sort-price, .page-section__sort-name {
    padding-right: 5px;
    cursor: pointer; }
  .page-section__sort-style {
    color: #002f2f;
    border-bottom: 2px dotted #002f2f; }
  .page-section__btn {
    width: 300px;
    height: 50px;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: -80px; }
  .page-section__btn:hover {
    color: lightslategray; }
  .page-section__btn-small {
    max-height: 30px; }

.close {
  display: none; }

@media (min-width: 768px) {
  .page-section__cart-wrapper {
    max-width: 768px; }
  .page-section__caption {
    font-size: 25px; }
  .page-section__sort {
    max-width: 768px; }
  .page-section__btn {
    width: 400px;
    height: 60px;
    font-size: 13px; } }

@media (min-width: 1280px) {
  .page-section__cart-wrapper {
    max-width: 1280px; }
  .page-section__caption {
    font-size: 30px;
    padding-left: 107px; }
  .page-section__sort {
    max-width: 1280px; }
  .page-section__sort-capt {
    padding-left: 107px; }
  .page-section__btn {
    width: 534px;
    height: 73px;
    font-size: 14px;
    top: -120px; } }

.container {
  max-width: 320px;
  margin: 0 auto;
  background-color: #fffefd;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 4px; }

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media (min-width: 1280px) {
  .container {
    max-width: 1066px;
    padding: 88px 107px 130px 107px; } }

.wrapper {
  width: 310px;
  min-height: 480px;
  border: 1px solid #a7a37e;
  border-radius: 3px;
  margin-bottom: 50px; }
  .wrapper__title {
    display: block;
    max-width: 214px;
    min-height: 66px;
    font-size: 24px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 23px;
    padding-top: 10px; }
  .wrapper__img-card {
    min-height: 240px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15px; }
  .wrapper__product {
    width: 120px;
    height: 150px; }
  .wrapper__description, .wrapper__price, .wrapper__available {
    font-size: 15px;
    margin-bottom: 15px;
    margin-left: 30px; }
  .wrapper .wrapper__bask-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 250px;
    margin: 0 auto; }
  .wrapper .wrapper__counter {
    font-size: 15px; }
  .wrapper__btn {
    background-color: #dcdcdc;
    outline: none;
    border: none;
    margin: 0;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    text-align: center;
    width: 150px;
    height: 25px; }
  .wrapper__btn:hover {
    color: lightslategray; }

.cart__input {
  width: 30px; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
